.ipynb_checkpoints
*/.ipynb_checkpoints/*
.idea
.idea/*.xml
*/.idea/*
tensorflow/dogs_vs_cats_redux_kernels_edition/dataset/
react_app/.gitignore
tensorflow/pjt07/logs/n_1.h5
tensorflow/pjt07/logs/n_2.h5
tensorflow/pjt07/logs/n_del.h5
tensorflow/pjt07/keras_model.h5
tensorflow/pjt07/i0.jpg
tensorflow/pjt07/i1.jpg
tensorflow/pjt07/i2.jpg
tensorflow/pjt07/i3.jpg
/tensorflow/pjt07/shampoo_naver_10page.xlsx
tensorflow/pjt07/logs/f_resnet_1.h5
.gitignore
tensorflow/pjt07/logs/f_resnet_2.h5
tensorflow/pjt07/logs/f_resnet_0.h5
tensorflow/pjt07/tst_conv/logs/dry.h5
tensorflow/pjt07/tst_conv/logs/hairloss.h5
tensorflow/pjt07/tst_conv/logs/hairloss_custom.h5
tensorflow/pjt07/P20210919_132808879_6A41B0D1-85AB-4DA0-BC41-AC6B2EA27A84.HEIC
