.ipynb_checkpoints
*/.ipynb_checkpoints/*
.idea
.idea/*.xml
*/.idea/*

PowerBI/class_exe/FY2021.xlsx
PowerBI/class_exe/데이터 변환.xlsx
PowerBI/class_exe/매출데이터.xlsx
PowerBI/class_exe/측정값_DAX 수식.txt
PowerBI/class_exe/판매관리.xlsx
PowerBI/class_exe/Korea_Simple.json
PowerBI/class_exe/Sales & Returns Sample v201912.pbi

*/dogs_vs_cats_redux_kernels_edition/train/*
*/dogs_vs_cats_redux_kernels_edition/test/*
*/dogs_vs_cats_redux_kernels_edition/sample_submission.csv/*
